@media (min-width: 1200px) {
  .container {
    width: 940px;
  }
}
body {
  margin: 0;
  text-align: center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #000;
}

/*background*/
.jumbotron {
  text-align: center;
  color: #fff;
  background-image: url(images/Golden-Top.jpg);
  background-repeat: no-repeat;
}

/*logo*/
.logo {
  float: left;
}

/*navigation*/
.nav {
  float: right;
}
.nav ul {
  font-family: "Montserrat", sans-serif;
}
.nav a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}
.nav li {
  display: inline-block;
  padding: 0px 20px;
}

.nav a:hover {
  color: #fed136;
}

/*main-text and button*/
.main-text h2 {
  font-size: 40px;
  font-family: "Droid Serif", serif;
  opacity: 0.8;
  padding-top: 220px;
}
.main-text h1 {
  font-size: 75px;
  font-weight: 700;
  padding-bottom: 40px;
}
.main-text button {
  padding: 22px 65px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 35px;
  background-color: #fed136;
}

@media (max-width: 992px) {
  .jumbotron {
    padding-bottom: 0;
  }

  .logo {
    padding-left: 15px;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 25%;
  }

  .main-text h1 {
    font-size: 40px;
  }
}
.services h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 65px;
}
.services p {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-bottom: 65px;
}

.paragraphs h3 {
  font-size: 18px;
  font-weight: 600;
}
.paragraphs p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777;
  text-align: center;
  margin-bottom: 110px;
}

@media (max-width: 992px) {
  .services h2 {
    margin-top: 15px;
  }
  .services p {
    margin-bottom: 15px;
  }

  .paragraphs p {
    margin-bottom: 15px;
  }
}
.top-background {
  background-color: #f7f7f7;
}
.top-background h2 {
  font-size: 40px;
  font-weight: 600;
  padding-top: 100px;
}

.top-text {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-bottom: 60px;
}

.thumbnail {
  margin-bottom: 50px;
}
.thumbnail h3 {
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
}
.thumbnail p {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  color: #777;
  text-align: center;
  padding-bottom: 15px;
}

@media (max-width: 992px) {
  .top-background h2 {
    padding-top: 25px;
  }
  .top-background p {
    margin-bottom: 15px;
  }
}
.description h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 90px;
}
.description h3 {
  font-size: 18px;
  font-weight: 600;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.column-left,
.column-right {
  padding-bottom: 50px;
}

.column-left h3, p {
  text-align: right;
}

.column-right h3 {
  text-align: left;
}

.item {
  text-align: left;
}

.description p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777;
}

.description
.text-column {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 70px;
}

.bottom-item {
  padding-bottom: 100px;
}

@media (max-width: 992px) {
  .description h2 {
    margin-top: 30px;
  }
  .description h3, .description p {
    text-align: center;
  }

  .description
  .text-column {
    margin-bottom: 15px;
  }

  .item {
    text-align: center;
  }

  .bottom-item {
    padding-bottom: 15px;
  }
}
.background-team {
  background-color: #f9f9f9;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #777;
  padding-top: 90px;
  padding-bottom: 100px;
}

.name-team h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #000;
  font-weight: 600;
}
.name-team p {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  color: #777;
  text-align: center;
  margin-bottom: 65px;
}

.team h3 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.team h4 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #777;
}
.team img {
  color: #000;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 10px;
}

.text-team {
  text-align: center;
}

@media (max-width: 992px) {
  .background-team {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.brands img {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .brands img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.button-background {
  background-image: url(images/Golden-Bottom.jpg);
  background-size: cover;
}

.contact h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  margin-top: 80px;
}
.contact p {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 65px;
}

.inputs input {
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: 2px solid #c0c0c0;
  padding-left: 20px;
  margin-bottom: 30px;
}

.big-form textarea {
  height: 210px;
  width: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #777;
  border-radius: 4px;
  border: 2px solid #c0c0c0;
  padding-left: 20px;
  padding-top: 10px;
  resize: none;
}

.message button {
  padding: 22px 50px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #fed136;
  margin-bottom: 110px;
}

@media (max-width: 992px) {
  .contact h2 {
    margin-top: 30px;
  }
  .contact p {
    margin-bottom: 30px;
  }

  .big-form textarea {
    height: 50px;
    margin-bottom: 25px;
  }

  .message button {
    margin-bottom: 35px;
  }
}
.footer p {
  font-size: 14px;
  color: #777;
  padding-top: 30px;
  padding-bottom: 35px;
}

.footer-contact img {
  color: #000;
  padding-top: 30px;
  padding-left: 10px;
}

@media (max-width: 992px) {
  .footer p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .footer-contact img {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
